/*
Main screen (photo)
*/

body {

}

body.normal {
    overflow:hidden;
	overflow-y: hidden;
	cursor:none;
	background-image:url(../img/wallpaper1.jpg);
	background-repeat:repeat;
	/*background-image:url(../img/orbit-splash-fr.jpg);*/
	/*background-size:cover;*/
}

body.parameter {
	background-image:url(../img/wallpaper1.jpg);
	background-repeat:repeat;
}

body.parameterblank {

}

.template_item {
	float: left;
	width: 18%;
	margin: 0.5em 0;
	text-align: center;
}

.template_item_img {
	max-width:100%;
	max-height:150px;
}

.template_item_check {

}


#parameters {
	cursor:auto;
}

#photo_countdown {
	display : none;
	position: absolute;
	left: 30px;
	top: 150px;


	font-family: Comic Sans, Comic Sans MS, cursive;
	font-size: 250px;
	color: #FFFFFF;
	text-shadow: 5px 5px 20px #1F1F20;
}

#photomaton {

}

#photomaton {
	display:block;
	position: absolute;
	top:0;
    left:0;
	width: 100%;
	height: 100%;
	background-size: 100% auto;
	/*cursor:none;*/
	/*overflow-y: hidden;*/
	/*overflow: hidden;*/
}

.result_photo{
	display:none;
	width:100%;
	height:100%;
}

.canvas_photo{
	width:100%;
	height:100%;
}

.hidden{
	position:absolute;
	display:none;
}

#camera_flash{
	display:none;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#FFF;
}

.coverflow_show {
	
}

.coverflow_hide {
	margin-left: 3000px;
}

#copy_txt {
	width: 100%;
	left:0px;
	top: 100px;
	text-align: center;
	font: 400 50px/1 'Kaushan Script', cursive;
	color: #DCE0E6;
	position: absolute;
}

#copy_progress_bar {
	top: 200px;
	width: 80%;
	left: 10%;
}

#copy_progress_value_txt {
	width: 100%;
	left:0px;
	text-align: center;
	top: 320px;
	font: 400 50px/1 'Kaushan Script', cursive;
	color: #DCE0E6;
	position: absolute;
}

#current_credit {
	top: 20px;
	right:10px;
	text-align: right;
	font: 400 30px/1 'Tequilla Sunrise', cursive;
	color: white;
	position: absolute;
}

#screen_insert_money {
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	background-color: rgba(69, 112, 255, 0.9);
	position: absolute;
	z-index: 30;
	text-align:center;
}

#insert_money {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width:80%;
}

#money_cost {
	font: 400 50px/1 'Tequilla Sunrise', cursive;
	color: white;
	position: absolute;
	top: 70px;
	left:70px;
}

#effect_div {
	position: absolute;
	top:100px;
	right:60px;
}

#effect_div li {
	padding-bottom:20px;
	list-style-type:none;
}

#effect_div img {
	width:150px;
}

#effect_div ul {
	-webkit-columns: 2;
	-moz-columns: 2;
}

#effect_div .selected {
	border-radius:30px;
	border: 10px dotted #00994C;
}