#photo_strip{
	position:absolute;
	top:100px;
	left:200px;
	width:1000px;
	content: url(./template6x4.png);
	-webkit-box-shadow: -2px 12px 12px 8px rgba(12, 12, 12, 0.5);	
}

#div_photo_1{
	position:absolute;
	top:124px;
	left:869px;
	width:304px;
}

#div_photo_2{
	position: absolute;
	top: 316px;
	left: 871px;
	-webkit-transform: rotate(-2deg);
	width: 308px;
}

#div_photo_3{
	position: absolute;
	top: 514px;
	left: 871px;
	width: 308px;
	-webkit-transform: rotate(7deg);
}

#div_photo_4{
	position:absolute;
	top:137px;
	left:224px;
	width:618px;
}

#div_photo_5{
	visibility:hidden;
	width:500px;
}

#div_photo_6{
	visibility:hidden;
	width:600px;
}