#photo_strip{
	position:absolute;
	top:30px;
	left:300px;
	width:600px;
	content: url(./template6.png);
	-webkit-box-shadow: -2px 12px 12px 8px rgba(12, 12, 12, 0.5);	
}

#div_photo_1{
	position:absolute;
	top:50px;
	left:316px;
	width:274px;
}

#div_photo_2{
	position:absolute;
	top:50px;
	left:615px;
	width:274px;
}

#div_photo_3{
	position: absolute;
	top: 217px;
	left: 317px;
	width: 567px;
}

#div_photo_4{
	visibility:hidden;
	width:600px;
}

#div_photo_5{
	visibility:hidden;
	width:600px;
}

#div_photo_6{
	visibility:hidden;
	width:600px;
}