#photo_strip{
	position:absolute;
	top:30px;
	left:450px;
	width:300px;
	content: url(./template1.png);
	-webkit-box-shadow: -2px 12px 12px 8px rgba(12, 12, 12, 0.5);
}

#div_photo_1{
	position:absolute;
	top:50px;
	left:463px;
	width:274px;
}

#div_photo_2{
	position:absolute;
	top:217px;
	left:463px;
	width:274px;
}

#div_photo_3{
	position:absolute;
	top:387px;
	left:463px;
	width:274px;
}

#div_photo_4{
	position:absolute;
	top:554px;
	left:463px;
	width:274px;
}

#div_photo_5{
	visibility:hidden;
	width:500px;
}

#div_photo_6{
	visibility:hidden;
	width:600px;
}